#photo1{
  padding-top: 15px;
  height:80vh;
  margin: 50px;


}



#photo2 {
  height:60vh;
  margin-left: 80px;
  margin-top: 160px;

}

#photo3 {
  height:50vh;
  margin-top: 20px;
  margin-left: 80px;
top: -110px;
}


#photo4 {
  height:70vh;
  margin-left: 70px;
  margin-top: 40px;
  margin-right: 30px;

}


#photo5 {
  height:50vh;
  margin-left: 60px;
  top: -90px;


}


#photo6 {
  height:60vh;
  margin-left: 200px;
  margin-top: 70px;

}


#photo7{
  height:80vh;
  margin: 40px;
  margin-left: 50px;


}



#photo8 {
  height:85vh;
  margin-left: 80px;
  margin-top: 160px;

}

#photo9 {
  height:70vh;
  top: 20px;
  left: 150px;

}


#photo10 {
  height:60vh;
  margin-left: 50px;
  margin-top: 70px;
  margin-right: 100px;

}


#photo11{
  height:75vh;
  margin-top: 100px;
  padding-left:110px;

}


#photo12{
height: 75vh;
  padding-left: 70px;
  margin-top: 70px;
  margin-bottom: 80px;
}


#photo13{
  padding-top: 15px;
  height:50vh;
  margin: 40px;
  margin-left: 250px;


}
