#photo1{
  padding-top: 15px;
  height:80vh;
  margin: 50px;


}



#photo2 {
  height:65vh;
  margin-left: 60px;


}

#photo3 {
  height:70vh;
  margin-top: 120px;
  margin-left: 80px;
}


#photo4 {
  height:60vh;
  margin-left: 50px;
  margin-top: 140px;

}


#photo5 {
  height:40vh;
  margin-left: 60px;
  top: -60px;


}


#photo6 {
  height:60vh;
  margin-left: 70px;
  margin-top: 70px;

}


#photo7{
  height:80vh;
  margin-top: 140px;
  margin-left: 120px;
  top: 40px;


}



#photo8 {
  height:80vh;
  margin-left: 80px;
  margin-top: 160px;
  margin-bottom: 70px;

}

#photo9 {
  height:70vh;
  top: 20px;
  left: 50px;
margin-bottom: 70px;
}
