@font-face {
      font-family: 'Apfel';
      src: url("apfelgrotezk-regular-webfont.woff") format('woff'),
           url("apfelgrotezk-regular-webfont.ttf") format('truetype');
      font-style: normal;

  }

}

  @font-face {
      font-family: 'Wingdings';
      src: url('wingding.ttf') format('truetype'),
           url('wingding.svg') format('svg');
      font-weight: normal;
      font-style: normal;

  }
  @font-face {
      font-family: 'Authentic';
      src: url("Amiamie-Regular.woff") format('woff');
      font-style: normal;

  }
    @font-face {
      font-family: 'Amie_round';
      src: url("Amiamie-RegularRound.woff") format('woff');
      font-style: normal;

  }


#emoji{
  text-decoration: none;
  font-family: Wingdings;
  color: rgb(0,0,0);
  font-size: 1em;
}



  *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html, body{
margin: 0;
 font-family: Amie_round;
color: rgb(0,0,0);
overflow-x: hidden;
  background: rgb(245,245,245) ;
  width: 100vw;
}




  #entete{
    font-family: Amie_round;
    left: 0;
    z-index: 3;
      background: rgb(245,245,245) ;
 font-size: 2em;
 color:black;
text-decoration: none;
padding-top: 0%;
border-bottom: 1px solid;
  justify-content: right;
  top:0px;
  position:fixed;
  width:100%;
  height: 42px;
  position: -webkit-sticky;
}


.fleche_titre{
  font-size: 1.2em;
  opacity: 0;
}


#fleche{
  font-size: 1.3em;
}




#corps{
  height:  100vh;
  width:100vw;
    display: block;

}



p.direction{
  z-index: 0;
  font-size: 0.7em;
  padding-top: 20px;
    text-align: center;
}

.lien_copain{
  color: black;
  text-decoration: none;
}

.lien_copain:hover{
  text-decoration: underline;
}

/*animation titre*/
.content-slider {
  width: 100%;
  height: 100%;
}

.slider {
  height: 100%;
  width: 100%;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 42px;
  margin-left:-50px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 100%;
  height: 320px;
  position: absolute;
  top: -200px;
  list-style: none;
    z-index: 5;
    padding-left: 0.6%;
}

.slider .quote {
  font-size: 1em;
}

.slider li.anim1 {
  -webkit-animation: cycle 10s linear infinite;
          animation: cycle 10s linear infinite;
}


.slider li.anim2{
  -webkit-animation: cycldeux 10s linear infinite;
          animation: cycldeux 10s linear infinite;
}


@-webkit-keyframes cycle {
  0% {
    top: -1em;
  }

    50% {
    top: 0em;
  }

      100% {
    top: 0em;
  }

}

@keyframes cycle {
  0% {
    top: -1em;
  }

    20% {
    top: 0em;
  }

      100% {
    top: 0em;
  }

}

@-webkit-keyframes cycldeux {
  0% {
    top: 0em;
  }

    20% {
    top: 1em;
  }

      100% {
    top: 1em;
  }


}

@keyframes cycldeux {
  0% {
    top: 0em;
  }

    20% {
    top: 1em;
  }

      100% {
    top: 1em;
  }


}


#corps{
  display: block;
  height: 95vh;
  width: 100vw;
  position: relative;
  margin-top: 42px;
}
#mosaique{
  height: 100%;
  width: 100vw;
  position: relative;

}



#blabla{
  width: 100vw;
    position: relative;
    right: 0;  

}
.colonne_blabla{
      border-bottom: solid black 1px;
}
.ligne{
  display: block;  
}

.colonne{
width: 95vw;
margin-left: 10px;
height: 70vh;
border-bottom: solid black 1px; 
border-left: solid black 1px; 
border-right: solid black 1px;    
}

#img1{
  background-image: url("../DIPLORAMAX/image/6.jpg");
}
#img2{
  background-image: url("../MAISON/image/1.jpg");
}
#img3{
  background-image: url("../ANGERS/image/4.jpg");
}
#img4{
  background-image: url("../BANC_CAMP/image/1.jpg");
}
#img5{
  background-image: url("../MACHINE_HISTOIRE/image/12.jpg");
}
#img6{
  background-image: url("../DRAPEAU_CAMP/image/6.jpg");
}

#img7{
  background-image: url("../GAITE/image/0.jpg");
}
#img8{
  background-image: url("../UNAMED_ROAD/image/3.jpg");
}
#img9{
  background-image: url("../TENTE/image/1.jpg");
}
#img10{
  background-image: url("../TABLE/image/3.jpg");
}
#img11{
  background-image: url("../ACTA/image/1.jpg");
}
#img12{
  background-image: url("../MEMOIRE/image/1.jpg");
}
#img13{
  background-image: url("../STRUCTURE/image/1.jpg");
}
#img14{
  background-image: url("../ULTRANET/image/0.jpg");
}
#img15{
  background-image: url("../SCENORAMA/image/8.jpg");
}
#img16{
  background-image: url("../DISCOURS_POLITIQUE/image/5.jpg");
}


.legende{
  margin-top: 12px;
  font-size: 0.8em;
  margin-left: 10px;
    margin-bottom: 5px;
}

.image{
  background-repeat: none;
  background-size: cover;
  background-color: darkblue;
  background-position: center;

  height: 89%;
    margin: 10px;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

 .pop:hover .bloc_blanc{
    border: solid black 1px;
    transform: translate(10px, -10px);
      background-color: rgb(245, 245, 245);
      z-index: 20;
}


.bloc_blanc{
  width: 100%;
  height: 100%;
  padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  position: relative;
}


 
#barre{
  height: 70%;
  width: 100%;
    border-bottom: solid black 1px;
      background: linear-gradient(to top left, rgb(245,245,245) calc(50% - 0.5px), black , rgb(245,245,245) calc(50% + 0.5px));



}
.ligne_contact{
  display: flex;
  padding-top: 5px;
}

#mail{
  margin-top: 5px;
}
#mail_txt{
  padding-left: 15px;
  font-size: 0.8em;
}


.ligne_contact a:hover{
font-style: italic;
}

#insta_txt{
  padding-left: 10px;
  font-size: 0.8em;
}

#tel_txt{
  padding-left: 16px;
  font-size: 0.8em;
}


.emoji_contact{
margin-left: 10px;
  -webkit-text-stroke: 0.4px;
}


#emoji_tel{
  color: white;
  -webkit-text-stroke: 0.6px black;
}

#colonne1E, #colonne2E{

  display: none;
}

#blabla_tel{
  display: block;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px black;
  font-size: 1.4em;
}

#txt_intro{
  padding-bottom: 20px;
  width: 90vw;
}





/*animation sous direction*/
.content-slider-direction {
  width: 100%;
  height: 2em;
}

.slider-direction {
  height: 100%;
  width: 100%;
  overflow: visible;
  position: relative;
}

.mask-direction {
  overflow: hidden;
  height: 37px;
}

.slider-direction ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-direction li {
  width: 100%;
  height: 1em;
  position: absolute;
  right: -200px;
  list-style: none;
}

.slider-direction .quote-direction {
    font-size: 0.7em;
}

.slider-direction li.direction-anim1 {
  -webkit-animation: cycleDirection 20s linear infinite;
          animation: cycleDirection 20s linear infinite;
}


.slider-direction li.direction-anim2{
  -webkit-animation: cycleDirectionDeux 20s linear infinite;
          animation: cycleDirectionDeux 20s linear infinite;
}

.slider-direction li.direction-anim3{
  -webkit-animation: cycleDirectionTrois 20s linear infinite;
          animation: cycleDirectionTrois 20s linear infinite;
}


@-webkit-keyframes cycleDirection {
  0% {
    right: -1em;
  }

    50% {
    right: 0em;
  }

      100% {
    right: 0em;
  }

}

@keyframes cycleDirection {
  0% {
    right: 29em;
  }

      100% {
    right: -9em;
  }

}

@-webkit-keyframes cycleDirectionDeux {
  0% {
    right: -10em;
  }

      100% {
    right: -60em;
  }


}

@keyframes cycleDirectionDeux {
  0% {
    right: 10em;
  }

      100% {
    right: -28em;
  }


}


@-webkit-keyframes cycleDirectionTrois {
  0% {
    right: -29em;
  }

      100% {
    right: -60em;
  }


}

@keyframes cycleDirectionTrois {
  0% {
    right: -9em;
  }

      100% {
    right: -47em;
  }


}


