@font-face {
	    font-family: 'Apfel';
	    src: url("apfelgrotezk-regular-webfont.woff") format('woff'),
	         url("apfelgrotezk-regular-webfont.ttf") format('truetype');
	    font-style: normal;

	}

}

	@font-face {
	    font-family: 'Wingdings';
	    src: url('wingding.ttf') format('truetype'),
	         url('wingding.svg') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}
  @font-face {
      font-family: 'Authentic';
      src: url("Amiamie-Regular.woff") format('woff');
      font-style: normal;

  }
    @font-face {
      font-family: 'Amie_round';
      src: url("Amiamie-RegularRound.woff") format('woff');
      font-style: normal;

  }


#emoji{
	text-decoration: none;
	font-family: Wingdings;
	color: rgb(0,0,0);
	font-size: 1em;
}



	*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html, body{
margin: 0;
 font-family: Authentic;
color: rgb(0,0,0);
}


#body{
	background: rgb(245,245,245) ;
}


	#entete{
    font-family: Amie_round;
    left: 0;
    z-index: 3;
			background: rgb(245,245,245) ;
 font-size: 2em;
 color:black;
text-decoration: none;
padding-top: 0%;
border-bottom: 1px solid;
  justify-content: right;
  top:0px;
  position:fixed;
  width:100%;
  height: 42px;
  position: -webkit-sticky;
}


.fleche_titre{
  font-size: 1.2em;
}


p.espace:hover{
	text-decoration: none;
}



#corps{
	height:  100vh;
	width:100vw;
	  display: flex;
  flex-direction: row;

}

#texte{
  padding-top: 3.2em;
		height:  100vh;
	width: 25vw;
  position:fixed;
  font-family: Amie_round;
  border-right-style: block;
  border-right: solid black 1px;

}

#retour{
  margin-top: 5px;
  font-size: 0.4em;
  position: absolute;
  right: 20px;
  z-index: 20;
}

.retour{
  color: black;
  text-decoration: none;
  display: flex;
}

.retour:hover {
  text-decoration: underline;
}

	#blocphoto{
    position: relative;
    margin-left: 25vw;
			width: 75vw;

	}


  #credit{
 font-size: 0.65em;
 position: fixed;
 writing-mode: vertical-rl;
 margin-left: 25vw;
 left: 0.3%;
 bottom: 1%;

  }



p.direction{
  z-index: 0;
	font-size: 0.7em;
	padding-top: 20px;
		text-align: center;
}

.lien_copain{
  color: black;
  text-decoration: none;
}

.lien_copain:hover{
  text-decoration: underline;
}

/*animation titre*/
.content-slider {
  width: 100%;
  height: 100%;
}

.slider {
  height: 100%;
  width: 100%;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 42px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 100%;
  height: 320px;
  position: absolute;
  top: -200px;
  list-style: none;
  	z-index: 5;
    padding-left: 0.6%;
}

.slider .quote {
  font-size: 1em;
}

.slider li.anim1 {
  -webkit-animation: cycle 10s linear infinite;
          animation: cycle 10s linear infinite;
}


.slider li.anim2{
  -webkit-animation: cycldeux 10s linear infinite;
          animation: cycldeux 10s linear infinite;
}


@-webkit-keyframes cycle {
  0% {
    top: -1em;
  }

    50% {
    top: 0em;
  }

      100% {
    top: 0em;
  }

}

@keyframes cycle {
  0% {
    top: -1em;
  }

    20% {
    top: 0em;
  }

      100% {
    top: 0em;
  }

}

@-webkit-keyframes cycldeux {
  0% {
    top: 0em;
  }

    20% {
    top: 1em;
  }

      100% {
    top: 1em;
  }


}

@keyframes cycldeux {
  0% {
    top: 0em;
  }

    20% {
    top: 1em;
  }

      100% {
    top: 1em;
  }


}




/*animation sous direction*/
.content-slider-direction {
  width: 100%;
  height: 2em;
}

.slider-direction {
  height: 100%;
  width: 100%;
  overflow: visible;
  position: relative;
}

.mask-direction {
  overflow: hidden;
  height: 37px;
}

.slider-direction ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-direction li {
  width: 100%;
  height: 1em;
  position: absolute;
  right: -200px;
  list-style: none;
}

.slider-direction .quote-direction {
		font-size: 0.7em;
}

.slider-direction li.direction-anim1 {
  -webkit-animation: cycleDirection 20s linear infinite;
          animation: cycleDirection 20s linear infinite;
}


.slider-direction li.direction-anim2{
  -webkit-animation: cycleDirectionDeux 20s linear infinite;
          animation: cycleDirectionDeux 20s linear infinite;
}

.slider-direction li.direction-anim3{
  -webkit-animation: cycleDirectionTrois 20s linear infinite;
          animation: cycleDirectionTrois 20s linear infinite;
}


@-webkit-keyframes cycleDirection {
  0% {
    right: -1em;
  }

    50% {
    right: 0em;
  }

      100% {
    right: 0em;
  }

}

@keyframes cycleDirection {
  0% {
    right: 29em;
  }

      100% {
    right: -9em;
  }

}

@-webkit-keyframes cycleDirectionDeux {
  0% {
    right: -10em;
  }

      100% {
    right: -60em;
  }


}

@keyframes cycleDirectionDeux {
  0% {
    right: 10em;
  }

      100% {
    right: -28em;
  }


}


@-webkit-keyframes cycleDirectionTrois {
  0% {
    right: -29em;
  }

      100% {
    right: -60em;
  }


}

@keyframes cycleDirectionTrois {
  0% {
    right: -9em;
  }

      100% {
    right: -47em;
  }


}



p.soustitre{
	font-size: 1.2em;
font-weight: bold;
	margin: 20px;
	padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
		text-align: left;
}

p.txt{
	font-size: 0.9em;
	margin-left: 5px;
		margin-right: 20px;
      padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
		text-align: left;
}


#photo1{
  padding-top:50px ;
  width:70vh;
  margin: 40px;


}

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(255, 255, 255, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  position:absolute;
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


#photo2 {
  width:40%;
  margin-left: 80px;
  margin-top: 160px;

}

#photo3 {
  width:35%;
  margin-left: 120px;
  top: -260px;
  position: relative;

}


#photo4 {
  width:80%;
  margin-left: 150px;
  margin-top: 70px;

}


#photo5 {
  width:70%;
  margin-left: 80px;
  margin-top: 70px;

}


#photo6 {
  width:40%;
  margin-left: 200px;
  margin-top: 70px;
margin-bottom: 30px;
}



#lientel{

  display: none;
}










