@font-face {
	    font-family: 'Apfel';
	    src: url("apfelgrotezk-regular-webfont.woff") format('woff'),
	         url("apfelgrotezk-regular-webfont.ttf") format('truetype');
	    font-style: normal;

	}

}

	@font-face {
	    font-family: 'Wingdings';
	    src: url('wingding.ttf') format('truetype'),
	         url('wingding.svg') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

#italic{
    font-family: Apfel;
	font-style: italic;
	text-decoration: none;
	color:rgb(0,0,0);
}

#italic:hover{
text-decoration: underline;

}

#italicdeux{
  font-family: Apfel;
  font-style: italic;
  text-decoration: none;
  color:rgb(0,0,0);
}


#italicdeux:hover{
text-decoration: underline;
}

#emoji{
	text-decoration: none;
	font-family: Wingdings;
	color: rgb(0,0,0);
	font-size: 1em;
}

#emojideux{
  text-decoration: none;
  font-family: Wingdings;
  color: rgb(0,0,0);
  font-size: 1em;
}

#emojitrois{
  text-decoration: none;
  font-family: Wingdings;
  color: rgb(0,0,0);
  font-size: 1em;
}

#emojiquatre{
  text-decoration: none;
  font-family: Wingdings;
  color: rgb(0,0,0);
  font-size: 1em;
}

#emojicinq{
  text-decoration: none;
  font-family: Wingdings;
  color: rgb(0,0,0);
  font-size: 1em;
}

#changecouleurlien{
		text-decoration: none;
	color: rgb(0,0,0);
}

#changecouleurlien:hover{
	text-decoration: none;
	font-style: italic;
}

	*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html, body{
margin: 0;
 font-family: Apfel;
color: rgb(0,0,0);
}


#body{
	background: rgb(255,255,255) ;
}


	#entete{
    left: 0;
    z-index: 3;
			background: rgb(255,255,255) ;
 font-size: 2.6em;
 color:black;
text-decoration: none;
padding-top: 0.5%;
border-bottom: 2.5px solid;
  justify-content: right;
  top:0px;
  position:fixed;
  width:100%;
  position: -webkit-sticky;
}
	p.nom{
		margin-top: 0;
	display: inline;
	position: absolute;
	margin-left: 0.5%;
	margin-bottom: 0.5%;

}

p.espace:hover{
	text-decoration: none;
}



#corps{
	height:  100vh;
	width:100vw;
	  display: flex;
  flex-direction: row;

}

#texte{
  padding-top: 3.2em;
		height:  100vh;
	width: 30vw;
  position:fixed;
  font-family: arial;
  border-right-style: block;
  border-right: solid black 2px;

}


	#blocphoto{
    position: relative;
    margin-left: 30vw;
			width: 70vw;

	}


  #credit{
 font-size: 0.65em;
 position: fixed;
 writing-mode: vertical-rl;
 margin-left: 30vw;
 left: 0.3%;
 bottom: 2%;

  }

	#lien{
		cursor:move;
		background-color: white;
		padding: 7px;
    padding-left:9px;
        padding-top:12px;
		border: solid rgb(0,0,0) 2px;
		width: 250px;
		height: 120px;
		position:fixed;
		right: 5%;
		bottom:6%;
		font-size: 0.8em;
	}

	#bouton{
		width:20px; height:20px;
		position:relative;
		left: 200px;
		top:-30px;
  background: linear-gradient(white, white 50%, black 50.1%);
		border-radius: 15px;
		border: solid rgb(0,0,0) 1.4px;
		cursor: pointer;
	}

p.direction{
  z-index: 0;
	font-size: 1em;
	font-style: italic;
	padding-top: 20px;
		text-align: center;
}


/*animation titre*/
.content-slider {
  width: 100%;
  height: 100%;
}

.slider {
  height: 100%;
  width: 100%;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 1em;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 100%;
  height: 320px;
  position: absolute;
  top: -200px;
  list-style: none;
  	z-index: 5;
	text-align: end;
    padding-right: 0.6%;
}

.slider .quote {
  font-size: 1em;
}

.slider li.anim1 {
  -webkit-animation: cycle 10s linear infinite;
          animation: cycle 10s linear infinite;
}


.slider li.anim2{
  -webkit-animation: cycldeux 10s linear infinite;
          animation: cycldeux 10s linear infinite;
}


@-webkit-keyframes cycle {
  0% {
    top: -1em;
  }

    50% {
    top: 0em;
  }

      100% {
    top: 0em;
  }

}

@keyframes cycle {
  0% {
    top: -1em;
  }

    20% {
    top: 0em;
  }

      100% {
    top: 0em;
  }

}

@-webkit-keyframes cycldeux {
  0% {
    top: 0em;
  }

    20% {
    top: 1em;
  }

      100% {
    top: 1em;
  }


}

@keyframes cycldeux {
  0% {
    top: 0em;
  }

    20% {
    top: 1em;
  }

      100% {
    top: 1em;
  }


}




/*animation sous direction*/
.content-slider-direction {
  width: 100%;
  height: 2em;
}

.slider-direction {
  height: 100%;
  width: 100%;
  overflow: visible;
  position: relative;
}

.mask-direction {
  overflow: hidden;
  height: 1em;
}

.slider-direction ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-direction li {
	font-style: italic;
  width: 100%;
  height: 1em;
  position: absolute;
  right: -200px;
  list-style: none;
}

.slider-direction .quote-direction {
		font-size: 1em;
  font-style: italic;
}

.slider-direction li.direction-anim1 {
  -webkit-animation: cycleDirection 20s linear infinite;
          animation: cycleDirection 20s linear infinite;
}


.slider-direction li.direction-anim2{
  -webkit-animation: cycleDirectionDeux 20s linear infinite;
          animation: cycleDirectionDeux 20s linear infinite;
}

.slider-direction li.direction-anim3{
  -webkit-animation: cycleDirectionTrois 20s linear infinite;
          animation: cycleDirectionTrois 20s linear infinite;
}


@-webkit-keyframes cycleDirection {
  0% {
    right: -1em;
  }

    50% {
    right: 0em;
  }

      100% {
    right: 0em;
  }

}

@keyframes cycleDirection {
  0% {
    right: 29em;
  }

      100% {
    right: -9em;
  }

}

@-webkit-keyframes cycleDirectionDeux {
  0% {
    right: -10em;
  }

      100% {
    right: -60em;
  }


}

@keyframes cycleDirectionDeux {
  0% {
    right: 10em;
  }

      100% {
    right: -28em;
  }


}


@-webkit-keyframes cycleDirectionTrois {
  0% {
    right: -29em;
  }

      100% {
    right: -60em;
  }


}

@keyframes cycleDirectionTrois {
  0% {
    right: -9em;
  }

      100% {
    right: -47em;
  }


}



p.soustitre{
	font-size: 1.2em;
font-weight: bold;
	margin: 20px;
	padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
		text-align: left;
}

p.txt{
	font-size: 1.1em;
	margin-left: 20px;
		margin-right: 20px;
      padding-left: 10px;
  padding-right: 10px;
		text-align: left;
}


#photo1{
  width:30%;
  margin: 40px;


}

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(255, 255, 255, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  position:absolute;
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


#photo2 {
  width:40%;
  margin: 50px;
  margin-top: 70px;

}

#photo3 {
  width:60%;
  margin: 40px;
  margin-top: 70px;

}


#photo4 {
  width:60%;
  margin: 40px;
  margin-top: 70px;

}


#photo5 {
  width:40%;
  margin: 40px;
  margin-top: 70px;

}


#photo6 {
  width:30%;
  margin: 40px;
  margin-top: 70px;

}


#photo7 {
  width:50%;
  margin: 40px;
  margin-top: 70px;

}


#photo8 {
  width:40%;
  margin: 40px;
  margin-top: 70px;

}


#lientel{

  display: none;
}













@media only screen and (max-width: 500px) {

#entete{
  padding-left: 5px;
text-align: left;
display: block;
top:0px;
text-align: left;
 font-size: 2.6em;
 color:black;
text-decoration: none;
margin-top: 0.5%;
  margin-left: 0.5%;
border-bottom: 2.5px solid;

}
  p.nom{
    margin-top: 0;
  display: block;
  position: relative;
  margin-left: 0.5%;
  margin-bottom: 0.5%;

}

.slider li{
  position: relative;
}

.slider .quote {
text-align: left;
}

.slider-direction li {
font-size: 0.9em;
}

#titre{
text-align: left;
position: relative;
}

.content-slider {
display: block;
text-align: left;}

#corps{
  display:block;
}

#projet{
  width: 100vw;
  padding-bottom: 50px;
border-bottom: 2.5px solid;

}

#texte{
border-right-style: hidden;
  margin-top: 55px;
height: auto;
position: relative;
}

#blocphoto{

    margin-top: 50px;
    width: 100vw;
    display: block;
    margin-left:0px;
}

#credit{
  margin-left:20px;
  position:relative;
  writing-mode: horizontal-tb;
  font-size: 0.8em;

}

  #photo1{
    position:relative;
    margin-top: 20px;
    margin-left:5%;
    width: 90%;

}
  #photo2{
    position:relative;
    margin-top: 20px;
    margin-left:5%;
    width: 90%;

}

  #photo3{
    position:relative;
    margin-top: 20px;
    margin-left:5%;
    width: 90%;


}

  #photo4{
    position:relative;
    margin-top: 20px;
    margin-left:5%;
    width: 90%;

}

  #photo5{
    position:relative;
    margin-top: 20px;
    margin-left:5%;
    width: 90%;

}

  #photo6{
    position:relative;
    margin-top: 20px;
    margin-left:5%;
    width: 90%;

}

  #photo7{
    position:relative;
    margin-top: 20px;
    margin-left:5%;
    width: 90%;

}

  #photo8{
    position:relative;
    margin-top: 20px;
    margin-left:5%;
    width: 90%;

}

#lien{

  display: none;
}

#lientel{
  text-align: left;
  padding-top: 10px;
display: block;
padding-left: 20px;
font-size: 0.9em;

}

#bouton{
margin-left:120px;


}
}

