
#photo1{
  padding-top:50px ;
  height:65vh;
  margin: 40px;


}



#photo2 {
height: 35vh;
  margin-left: 80px;
  top: -100px;

}

#photo3 {
  height:80vh;
  margin-left: 120px;

}


#photo4 {
  height:70vh;
  margin-left: 50px;
  margin-top: 150px;

}


#photo5 {
  height:40vh;
  margin-left: 80px;
  margin-top: 170px;

}


#photo6 {
  height: 70vh;
  margin-left: 200px;
  margin-top: 80px;
}


#photo7 {
height: 40vh;
  margin-left: 50px;
  top: 90px;
  margin-bottom: 200px;

}


#photo8 {
  height:65vh;
  margin-left: 80px;
  margin-top: 70px;
margin-bottom: 200px;
}


