
#photo1{
  margin-top:100px ;
  height:75vh;
  margin-left: 40px;


}



#photo2 {
height: 45vh;
  margin-left: 80px;
  top: -80px;

}

#photo3 {
  height:70vh;
  margin-left: 120px;
  margin-top: 60px;

}


#photo4 {
  height:60vh;
  margin-left: 50px;
  margin-top: 150px;

}


#photo5 {
  height:40vh;
  margin-left: 80px;
  margin-top: 170px;
  top: 80px;

}


#photo6 {
  height: 70vh;
  margin-left: 100px;
  margin-top: 200px;
}


#photo7 {
height: 40vh;
  margin-left: 50px;
  top: 90px;

}


#photo8 {
  height:65vh;
  margin-left: 80px;
  margin-top: 70px;
}

#photo9 {
height: 15vh;
  margin-left: 50px;
  top: 30px;
  margin-bottom: 200px;

}


#photo10 {
  height:40vh;
  margin-left: 60px;
  margin-top: 270px;
margin-bottom: 200px;
}


