body{
	margin-left: 0px;
	margin-top: 0px;
	background-color: #F2F2F2;
    font-family: Arial;
    	overflow: hidden;

}

@font-face {
	    font-family: 'Suisse';
	    src: url("../typo/suisseintl-regular_0.otf") format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'emoji';
	    src: url('../typo/seguiemj.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'Wingdings';
	    src: url('../typo/wingding.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}

@font-face {
	    font-family: 'Lexend';
	    src: url('../typo/Lexend-Regular.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}

@font-face {
	    font-family: 'Outlook';
	    src: url('../typo/outlook.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}


a{
	cursor: pointer;
	color: black;
	text-decoration: underline;
}
.boite{
	background-color: white;
	border: solid 1px;
}


 /*/////CARTE POKEMON/////*/


#carte_pokemon{
position: absolute;
left: 18vw;
top:22vh;
max-width: 320px;
}


#boite1{
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -5px;

}

#boite1_gauche{
	font-size: 6em;
		-webkit-text-stroke: 1.5px white;
}

#boite1_droite{
	position: absolute;
	font-size: 2em;
	right: 15px;
	margin-top: 15px;
}

#boite2{
	padding:10px;
	margin-top: -10px;
		border-top: solid 1px;
		font-size:0.9em;
}

#boite3{
	display: flex;
		border-top: solid 1px;
	font-size: 0.8em;
}

#boite3_gauche{
	width: 50%;
	padding: 10px;

}

#boite3_droite{
	width: 50%;
		padding: 10px;
			border-left: solid 1px;
}

#boite4{
	display: flex;
	padding-top:6px;
	padding-bottom: 4px;
		border-top: solid 1px;
		font-size:0.8em;
		padding-left: 10px;

}



#boite4_gauche{
	font-size: 1.6em;
margin-right: 10px;
margin-top: -2px;
}

.ligne{
	margin-bottom: 4px;
}
.pointer{
}





 /*/////BOITE MENU/////*/


.category{
	position: absolute;
	left: 20px;
	top: 20px;
}

.wingdings{
font-family: Wingdings;
}

.emoji{
font-family: Wingdings;
font-size: 1.5em;
margin-left: 	auto;
margin-right: auto;
-webkit-text-stroke: 0.4px;
}


.bouton_lien{
cursor: pointer;
margin: 5px;
margin-bottom: 15px;
}


.txt_menu{
	width: 300px;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}


#bouton_emoji_liste{
	font-size: 1.8em;
	-webkit-text-stroke: 0.3px;

}

#bouton_liste{
	margin-bottom: 10px;
}

a{
	color: black;
	text-decoration: none;	
}

a:hover{
	color: black;
	cursor: pointer;
}


#text{
  display: flex;
  flex-direction: column;
  align-items: center;}


      #text a p {
        pointer-events: none;
        display: none; }


      #text a:hover p {
        display: block;
        position: absolute;
         }

.collab{
	text-decoration: underline;
}

.collab:hover{
	text-decoration: none;
font-style: italic;
}


#emoji_main{
	font-size: 1.8em;
}

 /*/////BOITE CONTACT/////*/



#boite_contact{
	position:absolute;
	padding: 10px;
	line-height: 1.7em;
	left: 52vw;
	top: 20vh;
padding-right:20px ;
padding-left:20px ;
}

.ligne_contact{
	display: flex;
}


#mail_txt{
	padding-left: 20px;
	font-size: 0.9em;
}


.ligne_contact a:hover{
font-style: italic;
}

#insta_txt{
	padding-left: 15px;
	font-size: 0.9em;
}

#tel_txt{
	padding-left: 21px;
	font-size: 0.9em;
}


.emoji_contact{

	-webkit-text-stroke: 0.4px;
}


#emoji_tel{
	color: white;
	-webkit-text-stroke: 0.6px black;
}	
 /*/////YEUX/////*/


.d{
	fill:#fff;
	stroke:#000;
	stroke-miterlimit:10;
}


#les_yeux{
	position: absolute;
	left: 72vw;
	top: 70vh;
}



 /*/////credit moi/////*/

 #credit_moi{
 	position: absolute;
 	bottom: 10px;
 	right: 20px;
 	font-size: 0.7em;
 }






 /*/////version tel/////*/



#sur_tel{
	display: none;
}


#txt_tel{
	font-size:1.8em ;
	padding-top: 20%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}


#phrase_ordi_main{
	display: inline-flex;
	margin-top: 20px;
}

#doigt{ 
	font-family: Wingdings;
font-size:1.5em; 
margin-top: -5px;
margin-left: 10px;}


 /*/////YEUX/////*/




#les_yeux_tel{
	position: absolute;
	left: 60%;
	top: 65%;
}


.pupille{
	animation-delay: 4s;
  animation-name: roll;
  animation-duration: 1s;
animation-iteration-count: 2;
animation-timing-function:linear;
}




        @keyframes roll {
          0%   {transform: translate(0px); }
          5%   {transform: translate(0px); }
          7.5%  {transform: translate(1.5px, -3px);}
          10%  {transform: translate(3px, -5px);}
          11.5%  {transform: translate(5.5px, -6.5px);}  
          13.5%  {transform: translate(8px, -8.5px);}          
          15%  {transform: translate(10px, -10px);}
          16.5%  {transform: translate(13.5px, -8.5px);}
          18.5%  {transform: translate(16.5px, -6.5px);}
          20%  {transform: translate(20px, -5px);}         
          27%  {transform: translate(23px, 15px);}
          35%  {transform: translate(20px, 35px);}
          40%  {transform: translate(10px, 48px);}
          45%  {transform: translate(0px, 35px);}
          50%  {transform: translate(-3px, 15px);}
          55%  {transform: translate(0px); }
        }


    @media (max-width:700px){
        .category {
display: none;
        }

        #carte_pokemon {
display: none;
        }

        #boite_contact {
display: none;
        }

        #les_yeux {
display: none;
        }

        #credit_moi {
display: none;
        }

img{
	display: none;
}

#sur_tel{
	display:block;}




    }


