
#photo1{
  padding-top: 15px;
  height:90vh;
  margin: 40px;
  margin-left: 50px;


}



#photo2 {
  height:70vh;
  margin-left: 80px;
  margin-top: 160px;

}

#photo3 {
  width:50vw;
  margin-top: 20px;
  margin-left: 80px;
  position: relative;

}


#photo4 {
  height:80vh;
  margin-left: 70px;
  margin-top: 40px;

}


#photo5 {
  height:40vh;
  margin-left: 60px;
  top: -90px;
  position: relative;


}


#photo6 {
  height:60vh;
  margin-left: 200px;
  margin-top: 70px;

}


#photo7{
  height:80vh;
  margin: 40px;
  margin-left: 50px;


}



#photo8 {
  height:70vh;
  margin-left: 80px;
  margin-top: 160px;

}

#photo9 {
  height:85vh;
  top: 20px;
  left: 150px;

}


#photo10 {
  height:60vh;
  margin-left: 50px;
  margin-top: 40px;
  margin-right: 200px;

}


#photo11{
  height:30vh;
  padding-left:110px;
top:-70px;

}


#photo12{
height: 75vh;
  padding-left: 70px;
  margin-top: 70px;
}


#photo13{
  padding-top: 15px;
  height:90vh;
  margin: 40px;
  margin-left: 50px;


}



#photo14{
  height:70vh;
  margin-left: 80px;
  margin-top: 160px;

}

#photo15 {
  height:50vh;
  margin-top: 115px;
  margin-left: 80px;
  padding-left: 50px;
  margin-bottom: 60px;

}













