#photo1{
  padding-top: 15px;
  height:75vh;
  margin-top: 80px;
margin-left: 30px;

}



#photo2 {
  height:60vh;
  margin-left: 80px;
  margin-top: 160px;

}

#photo3 {
  height:70vh;
  margin-top: 120px;
  margin-left: 180px;
}


#photo4 {
  height:40vh;
  margin-left: 50px;
  margin-top: 240px;
  margin-right: 30px;

}


#photo5 {
  height:50vh;
  margin-left: 60px;
  top: 240px;


}


#photo6 {
  height:70vh;
  margin-left: 200px;
  margin-top: 470px;

}


#photo7{
  height:50vh;
  margin-top: 80px;
  margin-left: 100px;
margin-bottom: 200px;

}


