
#photo1{
  padding-top: 15px;
  height:65vh;
  margin-top: 80px;
  margin-left: 50px;


}



#photo2 {
  height:60vh;
  margin-left: 90px;
  margin-top: 100px;

}

#photo3 {
  height:40vh;
  top: -80px;
  margin-left: 120px;

}


#photo4 {
  height:65vh;
  margin-left: 100px;
  margin-top: 120px;

}


#photo5 {
  height:75vh;
  margin-left: 130px;
  margin-top: 120px;

}


#photo6 {
  height:60vh;
  margin-left: 150px;
  top: 30px;
}


#photo7{
  margin-top: 150px;
  height:70vh;
  margin-left: 60px;


}



#photo8 {
  height:40vh;
  margin-left: 80px;
 top: -60px;

}

#photo9 {
  height:40vh;
  top: -120px;
  margin-left: 80px;

}


#photo10 {
  height:70vh;
  margin-left: 50px;
  margin-top: 40px;

}


#photo11{
  height:70vh;
  margin-left: 150px;
  margin-top: 170px;

}


#photo12{
  height:40vh;
  margin-left: 50px;
  top: -70px;
}


#photo13{
  margin-top: 115px;
  height:40vh;
  margin: 40px;
  margin-left: 350px;
margin-bottom: 30px;

}















