
#photo1{
  padding-top: 15px;
  height:65vh;
  margin-top: 80px;
  margin-left: 50px;


}



#photo2 {
  height:60vh;
  margin-left: 150px;
  margin-top: 50px;
top: 105px;
}

#photo3 {
  height:65vh;
  margin-top: 80px;
  margin-left: 120px;

}


#photo4 {
  height:40vh;
  margin-left: 200px;
  margin-top: 120px;
  top: 20px;

}


#photo5 {
  height:45vh;
  margin-left: 130px;
  margin-top: 220px;

}


#photo6 {
  height:70vh;
  margin-left: 150px;
  top: 170px;
}


#photo7{
  margin-top: 250px;
  height:60vh;
  margin-left: 60px;


}



#photo8 {
  height:40vh;
  margin-left: 180px;
 top: -60px;

}

#photo9 {
  height:70vh;
  margin-top: 100px;
  margin-left: 80px;

}


#photo10 {
  height:60vh;
  margin-left: 50px;
  margin-top: 40px;

}


#photo11{
  height:75vh;
  margin-left: 150px;
  margin-top: 170px;

}


#photo12{
  margin-top: 60px;
  height:60vh;
  margin-left: 150px;
  margin-bottom: 60px;
}


#photo13{
  margin-top: 115px;
  height:35vh;
  margin: 40px;
  margin-left: 150px;
margin-bottom: 30px;

}















