
#photo1{
  padding-top:50px ;
  width:70%;
  margin: 40px;


}


#photo2 {
  width:40%;
  margin-left: 80px;
  margin-top: 160px;

}

#photo3 {
  width:35%;
  margin-left: 120px;
  top: -260px;
  position: relative;

}


#photo4 {
  width:80%;
  margin-left: 150px;
  margin-top: 70px;

}


#photo5 {
  width:70%;
  margin-left: 80px;
  margin-top: 70px;

}


#photo6 {
  width:40%;
  margin-left: 200px;
  margin-top: 70px;
margin-bottom: 30px;
}






