#photo1{
  height:65vh;
  margin-top: 150px;
  margin-left: 70px;


}



#photo2 {
  height:50vh;
  margin-left: 180px;
top: 80px;

}

#photo3 {
  height:55vh;
  margin-top: 120px;
  margin-left: 30px;
}


#photo4 {
  height:80vh;
  margin-left: 180px;
  margin-top: 110px;
top: 170px;
}


#photo5 {
  height:50vh;
  margin-left: 100px;
  margin-top: 280px;


}


#photo6 {
  height:40vh;
  margin-left: 120px;
  margin-top: 170px;
top: 140px;
}


#photo7{
  height:45vh;
  margin-top: 140px;
  margin-left: 50px;
  top: 40px;
margin-bottom: 200px;

}


