
#photo1{
  padding-top:50px ;
  height:90vh;
  margin: 40px;


}



#photo2 {
height: 35vh;
  margin-left: 80px;
  margin-top: 180px;

}

#photo3 {
  height:80vh;
  margin-left: 120px;
  top: 100px;

}


#photo4 {
  height:85vh;
  margin-left: 50px;
  margin-top: 100px;
  top: 250px;

}


#photo5 {
  height:60vh;
  margin-left: 80px;
  margin-top: 70px;
  top: 140px;

}


#photo6 {
  width:40%;
  margin-left: 200px;
  margin-top: 350px;
}


#photo7 {
height: 50vh;
  margin-left: 150px;
  top: -40px;

}


#photo8 {
  height:80vh;
  margin-left: 80px;
  margin-top: 70px;

}


#photo9 {
  width:40%;
  margin-left: 200px;
  margin-top: 70px;
margin-bottom: 30px;
}















